.app {
  font-family: Montserrat, "Times New Roman", serif;
  position: relative;
  background: #f6f8fb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
