.HeaderMainPage {
    padding-top: calc(var(--nav-height) + 50px);
    min-height: fit-content;
}
.title {
    font-size: 36px !important;
    line-height: 44px !important;
    font-weight: bold;
}

.image {
    width: 550px;
}

@media (max-width: 1200px) {
    .HeaderMainPage {
        padding-top: calc(var(--nav-height) + 50px);
    }
    .title {
        font-size: 28px !important;
    }
    .image {
        width: 500px;
    }
}

@media (max-width: 900px) {
    .HeaderMainPage {

    }
    .title {
        /*font-size: 24px !important;*/
        /*line-height: 32px !important;*/
    }
    .image {
        display: none;
    }

}

@media (max-width: 600px) {
    .HeaderMainPage {

    }
    .title {
        font-size: 24px !important;
    }
}

